@model Research.Models.Announcement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ULayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnounceDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnounceDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnnouncementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
