@model IEnumerable<Research.Models.Announcement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ULayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnounceDetail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnounceDetail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnnouncementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnnouncementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnnouncementID })
        </td>
    </tr>
}

</table>
