@model Research.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ULayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)

        </dd>

    </dl>
    <p>
        @Html.ActionLink("Add User", "AddUserToEventPage", new { id = Model.EventID })
    </p>

    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>

        @foreach (var item in Model.Users.ToList())
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "RedirectDetail", new { id=item.UserID})
                    @Html.ActionLink("Delete", "DeleteUserInEvent", new {id2=item.UserID, id3=Model.EventID})
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
