@model IEnumerable<Research.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ULayout.cshtml";
}

<h2> Users in This Event</h2>

<table class="table">
    <tr>
        <th>
          
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
           
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>   
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
            </td>
        </tr>
    }

</table>
